<div>
    <ol class="breadcrumb">
        <li><a ui-sref="app.dashboard">Dashboard</a></li>
        <!--<li><a ui-sref="app.dashboard.profile">Profile</a></li>-->
        <li>Permissions</li>
    </ol>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Permissions</div>
    <div class="list-group">
        <a href="#" class="list-group-item">
            <em class="pull-right fa fa-users fa-lg fa-fw text-muted mt"></em>
            <h4 class="list-group-item-heading">1000</h4>
            <p class="list-group-item-text">Friends</p>
        </a>
        <a href="#" class="list-group-item">
            <em class="pull-right fa fa-rss fa-lg fa-fw text-muted mt"></em>
            <h4 class="list-group-item-heading">3000</h4>
            <p class="list-group-item-text">Subscriptions</p>
        </a>
        <a href="#" class="list-group-item">
            <em class="pull-right fa fa-map-marker fa-lg fa-fw text-muted mt"></em>
            <h4 class="list-group-item-heading">100</h4>
            <p class="list-group-item-text">Places</p>
        </a>
        <a href="#" class="list-group-item">
            <em class="pull-right fa fa-briefcase fa-lg fa-fw text-muted mt"></em>
            <h4 class="list-group-item-heading">400</h4>
            <p class="list-group-item-text">Projects</p>
        </a>
        <a href="#" class="list-group-item">
            <em class="pull-right fa fa-twitter fa-lg fa-fw text-muted mt"></em>
            <h4 class="list-group-item-heading">17300</h4>
            <p class="list-group-item-text">Twees</p>
        </a>
    </div>
</div>