<h3>
    Airtime
</h3>

<div ui-view="" autoscroll="false" class="ng-zoomBackDown ng-fluid" ng-controller="AdminAirtimeController">

    <div class="row" >
        <div class="col-xs-12 col-sm-12">

            <div class="panel panel-default">
                <div class="panel-heading">Search Airtime</div>
                <div class="panel-body">
                    <form name="dateSearch" class="form-inline" role="form" ng-submit="search(dateSearch)" novalidate>
                        <div class="form-group mb-xl">
                            <div >
                                <div class="col-sm-4" ng-controller="MinDateCtrl as mDtCtrl">
                                    <p class="input-group">
                                        <input type="text" ng-change="dateChanged()" ng-readonly="true" name="min_date" uib-datepicker-popup="{{mDtCtrl.format}}" ng-model="$parent.min_date" is-open="mDtCtrl.opened" max-date="'2019-12-22'" uib-datepicker-options="mDtCtrl.dateOptions" date-disabled="mDtCtrl.disabled(date, mode)"
                                               close-text="Close" class="form-control" />
                                      <span class="input-group-btn">
                                         <button type="button" ng-click="mDtCtrl.open($event)" class="btn btn-default">
                                             <em class="fa fa-calendar"></em>
                                         </button>
                                      </span>
                                    </p>
                                </div>
                                <div class="col-sm-1 text-center">-</div>
                                <div class="col-sm-4" ng-controller="MaxDateCtrl as maDtCtrl">
                                    <p class="input-group">
                                        <input type="text" ng-change="dateChanged()" ng-readonly="true" name="max_date" uib-datepicker-popup="{{maDtCtrl.format}}" ng-model="$parent.max_date" is-open="maDtCtrl.opened" min-date="dateSearch.min_date.$modelValue" max-date="today" uib-datepicker-options="maDtCtrl.dateOptions" date-disabled="maDtCtrl.disabled(date, mode)"
                                               close-text="Close" class="form-control" />
                                      <span class="input-group-btn">
                                         <button type="button" ng-click="maDtCtrl.open($event)" class="btn btn-default">
                                             <em class="fa fa-calendar"></em>
                                         </button>
                                      </span>
                                    </p>
                                </div>

                                <div class="col-sm-3">
                                    <button type="submit" class="pull-left btn btn-info"><em class="fa fa-search"></em> Search</button>
                                    <!--<small class="text-muted">Value: {{date}}</small>-->
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>


            <div class="panel panel-default">
                <div class="panel-body helicopter" ng-class="{whirl:isDisabled}">

                    <div>
                        <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
                    </div>

                    <div class="table-responsive">
                        <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="table table-bordered row-border hover">
                            <thead>
                            <tr>
                                <th>Order No</th>
                                <th>Agent Name</th>
                                <th>Date</th>
                                <th>Approved</th>
                                <th>Recommended</th>
                                <th>Programme</th>
                                <th>Grand Total</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="schedule in schedules">
                                <td>
                                    <a ui-sref="app.airtime.details({'id':schedule.id})" class="text-info" >{{schedule.order_no}}</a>
                                </td>
                                <td>{{schedule.user.lastname+', '+schedule.user.firstname}}</td>
                                <td>{{schedule.created_at | date:'MMM d, y h:mm a'}}</td>
                                <td class="text-center" ><label class="label" ng-class="propClass(schedule.schedule_alert.approved)">{{schedule.schedule_alert.approved == 1? 'Yes':'No'}}</label></td>
                                <td class="text-center" ><label class="label" ng-class="propClass(schedule.schedule_alert.recommend)">{{schedule.schedule_alert.recommend == 1? 'Yes':'No'}}</label></td>
                                <td class="text-center" ><label class="label" ng-class="propClass(schedule.schedule_alert.programme)">{{schedule.schedule_alertairtim.programme == 1? 'Yes':'No'}}</label></td>
                                <td><strong>N{{schedule.grandTotal | number:2}}</strong></td>
                                <td>
                                    <a ng-href="/pdf/{{schedule.id}}/airtime" target="_blank" class="btn btn-success btn-sm" ><em class="fa fa-file-pdf-o fa-sm"></em></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
