    <!-- client Info-->
    <div class="row">

        <!--start: manage airitime-->
        <div permission permission-only="['admin', 'executive.director', 'head.marketing', 'head.accounting', 'traffic', 'approve.airtime' , 'validate.airtime', 'recommend.approval', 'programme.airtime']" class="col-sm-12">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    Manage Airtime
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form" name="manageAirtime" novalidate>

                        <div>
                            <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
                        </div>


                        <fieldset permission permission-only="['head.marketing','validate.airtime']">
                                <div  class="form-group">
                                    <label class="col-sm-2 control-label">Validate</label>
                                    <div class="col-sm-6">
                                        <label class="radio-inline c-radio">
                                            <input ng-disabled="schedule.schedule_alert.programme" ng-model="manage.validate" type="radio" name="validate" value="1" />
                                            <span class="fa fa-circle"></span>Yes</label>
                                        <label class="radio-inline c-radio">
                                            <input ng-disabled="schedule.schedule_alert.programme" ng-model="manage.validate" type="radio" name="validate" value="0" />
                                            <span class="fa fa-circle"></span>No</label>
                                    </div>
                                    <button ng-disabled="schedule.schedule_alert.programme" ng-click="validateSchedule()" name="valButton" class="btn btn-default"><em class="fa fa-save fa-lg"></em></button>
                                </div>
                            </fieldset>

                            <fieldset permission permission-only="['head.accounting','recommend.approval']">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Recommend</label>
                                    <div class="col-sm-6">
                                        <label class="radio-inline c-radio">
                                            <input ng-disabled="schedule.schedule_alert.programme" type="radio" ng-model="manage.recommend" name="recommend" value="1" />
                                            <span class="fa fa-circle"></span>Yes</label>
                                        <label class="radio-inline c-radio">
                                            <input ng-disabled="schedule.schedule_alert.programme" type="radio" ng-model="manage.recommend" name="recommend" value="0" />
                                            <span class="fa fa-circle"></span>No</label>
                                    </div>
                                    <button ng-disabled="schedule.schedule_alert.programme" ng-click="recommendSchedule()" class="btn btn-default"><em class="fa fa-save fa-lg"></em></button>
                                </div>
                            </fieldset>
                            <fieldset permission permission-only="['admin', 'executive.director', 'approve.airtime']">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Approve</label>
                                    <div class="col-sm-6">
                                        <label class="radio-inline c-radio">
                                            <input ng-disabled="schedule.schedule_alert.programme" type="radio" ng-model="manage.approved" name="approved" value="1" />
                                            <span class="fa fa-circle"></span>Yes</label>
                                        <label class="radio-inline c-radio">
                                            <input ng-disabled="schedule.schedule_alert.programme" type="radio" ng-model="manage.approved" name="approved" value="0" />
                                            <span class="fa fa-circle"></span>No</label>
                                    </div>
                                    <button ng-disabled="schedule.schedule_alert.programme" ng-click="approveSchedule()" class="btn btn-default"><em class="fa fa-save fa-lg"></em></button>
                                </div>
                            </fieldset>

                            <fieldset permission permission-only="['traffic','programme.airtime']">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Programme</label>
                                    <div class="col-sm-6">
                                        <label class="radio-inline c-radio">
                                            <input ng-disabled="schedule.schedule_alert.programme" type="radio" ng-model="manage.programme" name="programme" value="1" />
                                            <span class="fa fa-circle"></span>Yes</label>
                                        <label class="radio-inline c-radio">
                                            <input ng-disabled="schedule.schedule_alert.programme" type="radio" ng-model="manage.programme" name="programme" value="0" />
                                            <span class="fa fa-circle"></span>No</label>
                                    </div>
                                    <button ng-disabled="schedule.schedule_alert.programme" ng-click="programmeSchedule()" class="btn btn-default"><em class="fa fa-save fa-lg"></em></button>
                                </div>
                            </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <!-- end: manage airtime-->

        <div class="col-sm-12">
            <div class="list-group">
                <li class="list-group-item">
                    <table class="wd-wide">
                        <tbody>
                        <tr>
                            <td class="wd-sm">
                                <div class="ph">
                                    <h5 class="media-box-heading">Client</h5>
                                    <small class="text-info"><em>{{schedule.client.name}}</em></small>
                                </div>
                                <br />
                                <div class="ph">
                                    <h6 class="media-box-heading">Email</h6>
                                    <small class="text-danger"><em>{{schedule.client.email}}</em></small>
                                </div>
                                <div class="hidden-sm hidden-md hidden-lg"><br />
                                    <div class="ph">
                                        <h6 class="media-box-heading">Address</h6>
                                        <small class="text-muted"><em>{{ schedule.client.street_no +' '+ schedule.client.street_name +', '+ schedule.client.town }}</em></small>
                                    </div><br />
                                    <div class="ph">
                                        <h6 class="media-box-heading">Phone</h6>
                                        <small class="text-muted"><em>{{schedule.client.mobile}}</em></small>
                                    </div>
                                </div>
                            </td>
                            <td class="wd-sm hidden-xs">
                                <div class="ph">
                                    <h6 class="media-box-heading">Address</h6>
                                    <small class="text-muted"><em>{{ schedule.client.street_no +' '+ schedule.client.street_name +', '+ schedule.client.town }}</em></small>
                                </div><br />
                                <div class="ph">
                                    <h6 class="media-box-heading">Phone</h6>
                                    <small class="text-muted"><em>{{schedule.client.mobile}}</em></small>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </li>
            </div>
        </div>
    </div>

    <!-- cart list items-->
    <div class="row">
        <div class="col-sm-12">
            <div class="list-group">
                <li class="list-group-item" ng-repeat="sch_product in schedule.sch_products track by $index">
                    <!-- START panel-->
                    <div id="product{{sch_product.product.id}}" class="panel panel-default">
                        <div ng-class="{'panel-heading-collapsed':false}" class="panel-heading">{{sch_product.product.name}}
                            <paneltool tool-collapse="tool-collapse"></paneltool>
                            <!--<paneltool tool-refresh="standard" tool-collapse="tool-collapse" tool-dismiss="tool-dismiss"></paneltool>-->
                        </div>
                        <div uib-collapse="product{{sch_product.product.id}}" class="panel-wrapper">
                            <div class="panel-body">
                                <div class="list-group">
                                    <div ng-repeat="sch_product_sub in sch_product.sch_product_subs"> <br />
                                        <div class="list-group-item" ng-if="sch_product_sub.subscription.broadcast">
                                            <table class="wd-wide table-responsive">
                                                <tbody>
                                                <tr>
                                                    <td class="wd-lg" colspan="2">
                                                        <div class="ph">
                                                            <span class="label label-info pull-right">{{sch_product_sub.subscription.period}}</span>
                                                            <h4 class="media-box-heading">BULK</h4>

                                                            <div class="text-muted text-inverse">
                                                                <small>
                                                                    <b>Start: </b> {{sch_product_sub.subscription.bulk_start_date | date:'MMM d, y h:mm a'}}; &nbsp;&nbsp;
                                                                    <b>End: </b> {{sch_product_sub.subscription.bulk_end_date | date:'MMM d, y h:mm a'}}
                                                                </small>
                                                            </div>
                                                            <div class="text-muted text-inverse">
                                                                <small>
                                                                    <b>Bulk: </b> {{sch_product_sub.subscription.broadcast}}; &nbsp;&nbsp;
                                                                    <span ng-if="sch_product_sub.subscription.duration"><b>Duration: </b> {{sch_product_sub.subscription.duration}}</span>
                                                                </small>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="wd-sm">
                                                        <div class="ph">
                                                            <!--<p class="m0">Price</p>-->
                                                            <small class="m0 text-info">
                                                                &#8358{{ sch_product_sub.subscription.amount | number:2 }}</small>
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                        <div class="list-group-item" ng-if="sch_product_sub.subscription.slots">
                                            <table class="wd-wide table-responsive">
                                                <tbody>
                                                <tr>
                                                    <td>
                                                        <div class="ph">
                                                            <span class="label label-info pull-right">{{sch_product_sub.subscription.period}}</span>
                                                            <h4 class="media-box-heading">SLOT</h4>
                                                            <div class="text-muted text-inverse">
                                                                <small>
                                                                    <b>Slot date: </b> {{sch_product_sub.subscription.slot_start_date | date:'MMM d, y'}}
                                                                    <b> -- </b> {{sch_product_sub.subscription.slot_end_date | date:'MMM d, y'}}
                                                                </small>
                                                            </div>
                                                            <div class="text-muted text-inverse">
                                                                <small><b>Programme: </b> {{progStartTime(sch_product_sub.subscription.period) | date:'h:mm a'}} - {{progEndTime(sch_product_sub.subscription.period) | date:'h:mm a'}}</small>
                                                            </div>
                                                            <div class="text-muted text-inverse"><small><b>Slot: </b> {{sch_product_sub.subscription.slots}}; &nbsp;&nbsp;
                                                                <span ng-if="sch_product_sub.subscription.duration"><b>Duration: </b> {{sch_product_sub.subscription.duration}}</span>
                                                            </small></div>
                                                        </div><br />
                                                        <div class="table-responsive" ng-if="sch_product_sub.slot_details.length">
                                                            <table class="table table-bordered">
                                                                <tr>
                                                                    <th>Date</th>
                                                                    <th>Slot</th>
                                                                    <th>Fixed</th>
                                                                    <th>Time</th>
                                                                </tr>
                                                                <tr ng-repeat="slot_schedule in sch_product_sub.slot_details[0].schedule">
                                                                    <td>{{slot_schedule.date | date:'MMM d, y'}}</td>
                                                                    <td>{{slot_schedule.slot}}</td>
                                                                    <td>{{slot_schedule.tofix}}</td>
                                                                    <!--<td><span class="text text-primary"><small ng-repeat="t in slot_schedule.times track by $index">{{slot_schedule.times[$index] | date:'h:mm a'}}, </small></span></td>-->
                                                                    <td ng-if="slot_schedule.tofix > 0"><span class="text text-primary"><small ng-repeat="t in slot_schedule.times track by $index">{{slot_schedule.times[$index] | date:'h:mm a'}}, </small></span></td>
                                                                    <td ng-if="!slot_schedule.tofix || slot_schedule.tofix == '0'"><span class="text text-primary"><small>{{progStartTime(sch_product_sub.subscription.period) | date:'h:mm a'}} - {{progEndTime(sch_product_sub.subscription.period) | date:'h:mm a'}} </small></span></td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </td>
                                                    <td class="wd-sm" valign="top">
                                                        <div class="ph">
                                                            <!--<p class="m0">Price</p>-->
                                                            <small class="m0 text-info">
                                                                &#8358{{sch_product_sub.subscription.amount | number:2}}</small>
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="list-group-item">
                                        <div class="media-box">
                                            <div class="pull-left">
                                                <span class="fa-stack">
                                                <em class="fa fa-circle fa-stack-2x text-purple"></em>
                                                <em class="fa fa-money fa-stack-1x fa-inverse text-white"></em>
                                                </span>
                                            </div>
                                            <div class="media-box-body clearfix">
                                                <p class="m0 pull-right text-inverse"> &#8358{{sch_product.totals | number:2}}
                                                </p>
                                                <div class="media-box-heading pull-left"><span class="text-purple m0">Total Amount: </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END panel-->
                </li>
            </div>
        </div>
    </div>

    <!-- Grand totals-->
    <div class="row">
        <div class="col-sm-7 col-sm-push-5">
            <div class="list-group">
                <li class="list-group-item" >
                    <table class="wd-wide">
                        <tbody>
                        <tr>
                            <td class="wd-sm">
                                <div class="ph text-inverse">
                                    <h5 class="media-box-heading text-muted">Subtotal:</h5>
                                </div>
                            </td>
                            <td class="wd-sm">
                                <div class="ph text-inverse text-right">
                                    <h5 class="media-box-heading"><strong>NGN {{schedule.subTotal | number:2}}</strong></h5>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </li>
                <li class="list-group-item" >
                    <table class="wd-wide">
                        <tbody>
                        <tr>
                            <td class="wd-sm text-inverse">
                                <div class="ph">
                                    <h5 class="media-box-heading text-muted">Discount({{schedule.discount}}%):</h5>
                                </div>
                            </td>
                            <td class="wd-sm">
                                <div class="ph text-inverse text-right">
                                    <h5 class="media-box-heading"><strong>NGN {{schedule.discountAmt | number:2}}</strong></h5>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </li>
                <li class="list-group-item" >
                    <table class="wd-wide">
                        <tbody>
                        <tr>
                            <td class="wd-sm text-inverse">
                                <div class="ph">
                                    <h5 class="media-box-heading text-muted">Commission({{schedule.commission}}%):</h5>
                                </div>
                            </td>
                            <td class="wd-sm">
                                <div class="ph text-inverse text-right">
                                    <h5 class="media-box-heading "><strong>NGN {{schedule.commissionAmt | number:2}}</strong></h5>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </li>
                <li class="list-group-item" >
                    <table class="wd-wide">
                        <tbody>
                        <tr>
                            <td class="wd-sm">
                                <div class="ph text-inverse">
                                    <h5 class="media-box-heading text-muted">VAT(5%):</h5>
                                </div>
                            </td>
                            <td class="wd-sm">
                                <div class="ph text-inverse text-right">
                                    <h5 class="media-box-heading"><strong>NGN {{ ( (5/100) * schedule.subTotal )  | number:2}}</strong></h5>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </li>
                <li class="list-group-item" >
                    <table class="wd-wide">
                        <tbody>
                        <tr>
                            <td class="wd-sm" valign="top">
                                <div class="ph text-inverse">
                                    <h5 class="media-box-heading text-muted">GRAND TOTAL:</h5>
                                </div>
                            </td>
                            <td class="wd-sm">
                                <div class="ph text-warning text-right">
                                    <h5 class="media-box-heading"><strong>NGN {{schedule.grandTotal | number:2}}</strong></h5>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </li>
            </div>
        </div>
    </div>
    <br />

    <!-- Marketer in charrge-->
    <div class="row">
        <div class="col-sm-12">
            <div class="list-group">
                <li class="list-group-item">
                    <table class="wd-wide">
                        <tbody>
                        <tr>
                            <td class="wd-sm">
                                <div class="ph">
                                    <h5 class="media-box-heading">Date</h5>
                                    <small class="text-info"><em>{{schedule.created_at | date: 'medium'}}</em></small>
                                </div>
                            </td>
                            <td class="wd-sm">
                                <div class="ph">
                                    <h6 class="media-box-heading">Generated by</h6>
                                    <small class="text-muted"><em>{{schedule.user.lastname+' '+schedule.user.firstname }}</em></small>
                                </div>
                            </td>
                            <td class="wd-sm">
                                <div class="ph">
                                    <h6 class="media-box-heading">Payment Mode</h6>
                                    <small class="text-muted"><em>Cash</em></small>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </li>
            </div>
        </div>
    </div>