<div>
    <ol class="breadcrumb">
        <li><a ui-sref="app.people">People</a></li>
        <li>Create account</li>
    </ol>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <small>This web page allows administrators to register new users.</small>
    </div>

    <div class="panel-body helicopter" ng-class="{whirl:disableView}">

        <form class="form-horizontal" role="form" name="userForm" ng-submit="submitUserForm()" novalidate>
            <div class="panel-body">

                <div>
                    <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
                </div>

                <toaster-container toaster-options="{'position-class': 'toast-bottom-right', 'close-button':true}"></toaster-container>

                <fieldset>
                    <div class="form-group">
                        <label class="control-label col-sm-2">First name <abbr class="text-danger" title="First name">*</abbr></label>
                        <div class="col-sm-8" ng-class="{'has-error':userForm.firstname.$dirty &amp;&amp; userForm.firstname.$error.required}">
                            <input type="text" name="firstname" placeholder="Enter First name" ng-pattern="/^[a-zA-Z]{1,}$/" autocomplete="off" ng-model="account.firstname" required="" class="form-control" />
                            <!--<span class="fa fa-tag form-control-feedback text-muted"></span>-->
                            <span ng-show="userForm.firstname.$dirty &amp;&amp; userForm.firstname.$error.required" class="text-danger">This field is required</span>
                            <span ng-show="userForm.firstname.$dirty &amp;&amp; userForm.firstname.$error.pattern" class="text-danger">This field must be a valid name</span>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Last name <abbr class="text-danger" title="Last name">*</abbr></label>
                        <div class="col-sm-8" ng-class="{'has-error':userForm.lastname.$dirty &amp;&amp; userForm.lastname.$error.required}">
                            <input type="text" name="lastname" placeholder="Enter Last name" ng-pattern="/^[a-zA-Z]{1,}$/" autocomplete="off" ng-model="account.lastname" required="" class="form-control" />
                            <!--<span class="fa fa-tag form-control-feedback text-muted"></span>-->
                            <span ng-show="userForm.lastname.$dirty &amp;&amp; userForm.lastname.$error.required" class="text-danger">This field is required</span>
                            <span ng-show="userForm.lastname.$dirty &amp;&amp; userForm.lastname.$error.pattern" class="text-danger">This field must be a valid name</span>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Email <abbr class="text-danger" title="Email">*</abbr></label>
                        <div class="col-sm-8" ng-class="{'has-error': userForm.email.$dirty &amp;&amp; userForm.email.$error.required}">
                            <input type="email" name="email" placeholder="Enter email" autocomplete="off" ng-model="account.email" required="" ng-pattern="/^[-a-z0-9~!$%^&*_=+}{\'?]+(\.[-a-z0-9~!$%^&*_=+}{\'?]+)*@([a-z0-9_][-a-z0-9_]*(\.[-a-z0-9_]+)*\.(aero|arpa|biz|com|coop|edu|gov|info|int|mil|museum|name|net|org|pro|travel|mobi|[a-z][a-z])|([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}))(:[0-9]{1,5})?$/i" class="form-control" />
                            <span class="text-info"><small>Changing this field will affect user access to account please notice.</small></span>
                            <div>
                                <span ng-show="userForm.email.$dirty &amp;&amp; userForm.email.$error.required" class="text-danger">This field is required</span>
                                <span ng-show="userForm.email.$dirty &amp;&amp; userForm.email.$error.pattern" class="text-danger">This field must be a valid email address</span>
                            </div>
                        </div>
                    </div>
                </fieldset>


                <fieldset>
                    <div class="form-group" >
                        <label ng-if="!$stateParams.id" class="control-label col-sm-2">Password <abbr class="text-danger" title="Password">*</abbr></label>
                        <label ng-if="$stateParams.id" class="control-label col-sm-2">Password</label>
                        <div class="col-sm-8" ng-class="{'has-error': !userForm.password.$pristine &amp;&amp; userForm.password.$error.required}">
                            <input ng-if="!$stateParams.id" id="id-password" placeholder="Enter password" type="password" name="password" ng-model="account.password" ng-pattern="/^[a-zA-Z0-9]{6,10}$/" required="" class="form-control" />
                            <input ng-if="$stateParams.id" placeholder="Enter password" type="password" name="password" ng-model="account.password" ng-pattern="/^[a-zA-Z0-9]{6,10}$/" class="form-control" />
                            <span class="text-info"><small>Changing this field will affect user access to account please notice.</small></span>
                            <div>
                                <span ng-show="!userForm.password.$pristine &amp;&amp; userForm.password.$error.required" class="text-danger">This field is required</span>
                                <span ng-show="!userForm.password.$pristine &amp;&amp; userForm.password.$error.pattern" class="text-danger">Input should match 'a-zA-Z0-9' and 6-8 length</span>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <div class="form-group" >
                        <label ng-if="!$stateParams.id" class="control-label col-sm-2">Retype Password <abbr class="text-danger" title="Confirm password">*</abbr></label>
                        <label ng-if="$stateParams.id" class="control-label col-sm-2">Retype Password</label>
                        <div class="col-sm-8" ng-class="{'has-error': !userForm.password_confirm.$pristine &amp;&amp; userForm.password_confirm.$error.required}">
                            <input ng-if="!$stateParams.id" type="password" placeholder="Confirm password" name="password_confirm" ng-model="account.password_confirm" ui-validate="'$value==account.password'" ui-validate-watch="'password'" class="form-control" required />
                            <input ng-if="$stateParams.id" type="password" placeholder="Confirm password" name="password_confirm" ng-model="account.password_confirm" ui-validate="'$value==account.password'" ui-validate-watch="'password'" class="form-control" ng-required="$value != account.password" />
                            <span ng-show="userForm.password_confirm.$error.required &amp;&amp; !userForm.password_confirm.$pristine " class="text-danger">This field is required</span>
                            <span ng-show="!userForm.password_confirm.$pristine &amp;&amp; userForm.password_confirm.$error.validator" class="text-danger">Password does Not match</span>
                        </div>
                    </div>
                </fieldset>

                <br />
                <fieldset>
                    <legend>Account Status</legend>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"><small>Select account status</small></label>
                        <div class="col-sm-10">
                            <div class="radio c-radio">
                                <label>
                                    <input type="radio" name="status" ng-model="account.status" value="0" checked=""/>
                                    <span class="fa fa-circle"></span>Active</label>
                            </div>
                            <div class="radio c-radio">
                                <label>
                                    <input type="radio" name="status" ng-model="account.status" value="1" />
                                    <span class="fa fa-circle"></span>Blocked</label>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <!--<fieldset>-->
                <!--<legend>Enable Roles</legend>-->
                <!--<div class="form-group">-->
                <!--&lt;!&ndash;<label class="col-sm-2 control-label">Select Roles for user.</label>&ndash;&gt;-->
                <!--<div class="col-sm-12" style="overflow: scroll">-->
                <!--<table class="table table-bordered table-stripped">-->
                <!--<tr>-->
                <!--<th><small><strong>PERMISSIONS</strong></small></th>-->
                <!--<th ng-repeat="(id, role) in roles"><small><strong>{{role.name | uppercase}}</strong></small></th>-->
                <!--</tr>-->
                <!--<tbody>-->
                <!--<tr ng-repeat="(pid, permission) in permissions">-->
                <!--<td class="text-muted"><small>{{permission.name}}</small></td>-->
                <!--<td ng-repeat="(rid, role) in roles">-->
                <!--<div class="checkbox c-checkbox needsclick">-->
                <!--<label class="needsclick" uib-tooltip="{{permission.name + ' ('+role.name+')'}}">-->
                <!--<input type="checkbox"  ng-model="rolePermission[role.id][permission.id]" class="needsclick" />-->
                <!--<span class="fa fa-check"></span>-->
                <!--</label>-->
                <!--</div>-->
                <!--</td>-->
                <!--</tr>-->
                <!--</tbody>-->
                <!--</table>-->
                <!--</div>-->
                <!--</div>-->
                <!--</fieldset>-->
                <fieldset>
                    <legend>Account Roles</legend>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Select roles for user.</label>
                        <div class="col-sm-10">
                            <div class="checkbox c-checkbox needsclick" ng-repeat="(id, role) in roles">
                                <label class="needsclick">
                                    <input type="checkbox" ng-model="account.roles[role.id]" value="{{role}}" class="needsclick" />
                                    <span class="fa fa-check"></span>{{role.name}}</label>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Permissions</legend>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Select permissions for user.</label>
                        <div class="col-sm-10">
                            <div class="checkbox c-checkbox needsclick" ng-repeat="(id, permission) in permissions">
                                <label class="needsclick">
                                    <input type="checkbox" ng-model="account.permissions[permission.id]" value="{{permission}}" class="needsclick" />
                                    <span class="fa fa-check"></span>{{permission.name}}</label>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="panel-footer text-center">
                <!--<div class="form-group">-->
                <!--<div class="col-sm-4 col-sm-offset-2">-->
                <button class="btn btn-primary" ng-disabled="userForm.$invalid" type="submit">Save Data</button>
                <!--</div>-->
            </div>
        </form>
    </div>
</div>
