<fieldset ng-repeat="task in tasks">
    <div class="form-group">
        <div class="col-sm-2">
            <label class="control-label">Task</label><br />
            <a ng-if="$index > 0" ng-click="closeField($index, tasks)" class="btn btn-danger btn-sm"><em class="icon-close"> {{$index + 1}}</em></a>
        </div>

        <div class="col-sm-10">
            <!-- Wysiswyg editor-->
            <div text-angular="" ng-model="task.htmlText" required class="btn-group-small"></div>
        </div>

        <div class="form-group">

            <label class="col-sm-2 control-label">
                Task Completed?
            </label>


            <div class="col-sm-10">
                <label class="radio-inline">
                    <input type="radio" required name="completed_{{$index}}" ng-model="task.completed"  value="1"> Yes
                </label>
                <label class="radio-inline">
                    <input type="radio" required name="completed_{{$index}}" ng-model="task.completed" value="0"> No
                </label>
            </div>
        </div>
        <div class="form-group">

            <label class="col-sm-2 control-label">
                Self Grading
            </label>

            <div class="col-sm-10">
                <label class="radio-inline">
                    <input type="radio" required name="grade_{{$index}}" ng-model="task.grade"  value="A"> A
                </label>
                <label class="radio-inline">
                    <input type="radio" required name="grade_{{$index}}" ng-model="task.grade" value="B"> B
                </label>
                <label class="radio-inline">
                    <input type="radio" required name="grade_{{$index}}" ng-model="task.grade" value="C"> C
                </label>
                <label class="radio-inline">
                    <input type="radio" required name="grade_{{$index}}" ng-model="task.grade" value="D"> D
                </label>
                <label class="radio-inline">
                    <input type="radio" required name="grade_{{$index}}" ng-model="task.grade" value="E"> E
                </label>
            </div>
        </div>

    </div>
</fieldset>

<hr class="row" />
<div class="">
    <a ng-click="addField(tasks)" class="btn btn-info btn-sm"><em class="icon-plus"> Task</em></a>
    <a ng-disabled="tasks.length == 1" ng-click="closeAll(tasks)" class="btn btn-danger btn-sm"><em class="icon-close"> Close All</em></a>
</div>