<div class="abs-center wd-xl">
    <!-- START panel-->
    <div class="text-center text-danger mb-xl">
        <div class="text-lg mb-lg">401</div>
        <p class="lead m0">Page unauthorized!</p>
        <p>You do not have permission tho view this page.</p>
    </div>

    <ul class="list-inline text-center text-sm mb-xl">
        <li><a href="" ui-sref="app.dashboard" class="text-muted">Go to Dashboard</a>
        </li>
        <li class="text-muted">|</li>
        <li><a ng-click="logout()" class="text-muted">Logout</a>
        </li>
    </ul>
</div>