<br />
<div id="product-slot" class="tab-pane" ng-class="{active:isSelected(2)}" role="tabpanel">
    <!--Product details-->
    <!-- START panel-->
    <div id="productPanel" class="panel panel-default">
        <div ng-class="{'panel-heading-collapsed':productPanel}" class="panel-heading">Product Details
            <paneltool tool-collapse="tool-collapse" ng-init="productPanel=false"></paneltool>
        </div>
        <!-- .panel-wrapper is the element to be collapsed-->
        <div uib-collapse="productPanel" class="panel-wrapper">
            <div class="panel-body">
                <div class="col-xs-12 col-sm-12">
                    <div class="form-group">
                        <label for="product" class="control-label" >Product <abbr class="text-danger" title="required">*</abbr></label>
                        <div ng-class="{'has-error': airtimeForm.product.$error.required && airtimeForm.product.$pristine}">
                            <ui-select ng-model="product.selected" name="product" id="product" theme="bootstrap" ng-change="productChanged()" required>
                                <ui-select-match placeholder="Select or search a Product...">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="product in products | propsFilter: {name: $select.search, id: $select.search}">
                                    <div ng-bind-html="product.name | highlight: $select.search"></div>
                                    <small>Timeable: {{product.timeable == 1 ? 'Yes' : 'No'}} Prices Opt:
                                        <span ng-bind-html="''+product.prices.length | highlight: $select.search"></span>
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                            <span ng-show="airtimeForm.product.$error.required && airtimeForm.product.$pristine" class="help-block">Please select a product. </span>
                        </div>
                    </div>

                    <!-- product durations-->
                    <div class="form-group">
                        <div class="row">

                            <!-- choose airtime period-->
                            <div class="col-sm-5 col-xs-12" >
                                <label for="airtimePeriod" class="control-label">Period <abbr class="text-danger" title="required">*</abbr></label>
                                <select ng-class="{'has-error':airtimeForm.period.$error.required && airtimeForm.period.$invalid}" ng-disabled="(form.no_slots > 0) || (form.broadcast > 0) || !product.selected"
                                        name="period" id="airtimePeriod" ng-model="form.period" class="form-control" ng-disabled="form.price == 0" ng-change="onPeriodChange()" required>
                                    <option value="{{period.value}}" ng-repeat="period in periods">{{period.label}}</option>
                                </select>
                            </div>

                            <!-- airtime durations-->
                            <div class="col-sm-5 col-xs-12" ng-show="product.selected.timeable" ng-class="{'has-error': airtimeForm.price.$error.required && !airtimeForm.price.$pristine}">
                                <label for="duration" class="control-label">Duration <abbr class="text-danger" title="required">*</abbr></label>
                                <select ng-disabled="(form.no_slots > 0) || (form.broadcast > 0)" name="price" id="duration" class="form-control" ng-model="price.index" required
                                        ng-options="product.selected.prices.indexOf(price) as price.duration for price in product.selected.prices" ng-change="durationChange()" >
                                </select>
                                <span ng-show="airtimeForm.duration.$error.required && !airtimeForm.duration.$pristine" class="help-block">Please select a duration. </span>
                            </div>


                        </div>
                    </div>

                    <!-- display price-->
                    <div class="form-group">
                        <div class="pull-right">
                            <div class="col-sm-6">
                                <input type="text" class="form-control" style="width:150px;" value="{{form.price | number:2}}" name="price" id="price" disabled />
                            </div>
                        </div>
                        <div class="clear-fix"></div>
                    </div>
                </div>
            </div>

            <div class="panel-footer">
                <button type="button" ng-click="productChanged()" class="btn btn-default"> <em class="fa fa-refresh"></em> Refresh </button>
            </div>
        </div>

    </div>
    <!-- END panel-->

    <!--Schedule Details-->
    <!-- START panel-->
    <div id="schedulePanel" class="panel panel-default helicopter" ng-class="{whirl:!form.price}">
        <div ng-class="{'panel-heading-collapsed':schedulePanel}" class="panel-heading">Slots
            <paneltool tool-collapse="tool-collapse" ng-init="schedulePanel=true"></paneltool>
        </div>
        <!-- .panel-wrapper is the element to be collapsed-->
        <div uib-collapse="schedulePanel" class="panel-wrapper">
            <div class="panel-body">
                <div class="col-xs-12 col-sm-12">

                    <div class="form-group">
                        <label for="slots" class="col-sm-2 control-label">Slot(s)</label>
                        <div class="col-sm-4">
                            <p class="input-group">
                                <select ng-disabled="(form.no_slots > 0) || !form.price" ng-change="maxSlotRangeChange()" name="slots" ng-model="form.no_slots" id="slots" class="form-control">
                                    <option value="{{$index + 1}}" ng-repeat="i in getSlotRange(500) track by $index">{{$index + 1}}</option>
                                </select>
                                <span class="input-group-btn">
                                     <button type="button" ng-disabled="!form.price" ng-click="clearSlot()" class="btn btn-default">
                                         <em class="fa fa-refresh"></em>
                                     </button>
                                  </span>
                            </p>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-6" ng-controller="SlotStartDateCtrl as ssCtrl">
                            <label for="duration" class="control-label">Start date <abbr class="text-danger" title="required">*</abbr></label>
                            <p class="input-group">
                                <input type="text" placeholder="start date" ng-readonly="true" name="slot_start_date" uib-datepicker-popup="{{ssCtrl.format}}" ng-model="form.slot_start_date" is-open="ssCtrl.opened" min-date="ssCtrl.minDate" max-date="'2019-12-22'" uib-datepicker-options="ssCtrl.dateOptions" date-disabled="dssCtrl.disabled(date, mode)"
                                       close-text="Close" class="form-control" />
                                      <span class="input-group-btn">
                                         <button type="button" ng-disabled="!form.price" ng-click="ssCtrl.open($event)" class="btn btn-default">
                                             <em class="fa fa-calendar"></em>
                                         </button>
                                      </span>
                            </p>
                        </div>

                        <div class="col-sm-6" ng-controller="SlotEndDateCtrl as sectrl">
                            <label for="duration" class="control-label">End date <abbr class="text-danger" title="required">*</abbr></label>
                            <p class="input-group">
                                <input type="text" ng-readonly="true" name="slot_end_date" uib-datepicker-popup="{{sectrl.format}}" ng-model="form.slot_end_date" is-open="sectrl.opened" min-date="airtimeForm.slot_start_date.$modelValue" max-date="'2019-12-22'" uib-datepicker-options="sectrl.dateOptions" date-disabled="sectrl.disabled(date, mode)"
                                       close-text="Close" class="form-control" placeholder="end date" />
                                      <span class="input-group-btn">
                                         <button type="button"  ng-click="sectrl.open($event)" class="btn btn-default" ng-disabled="!form.slot_start_date">
                                             <em class="fa fa-calendar"></em>
                                         </button>
                                      </span>
                            </p>
                        </div>
                    </div>

                    <br />

                        <div class="form-group" ng-show="product.selected.fixable">
                            <div class="checkbox"  >
                                <label class="text-warning">
                                    <input type="checkbox" name="isfixable" ng-model="btn.fixslot" /> Do you want to fix your slot (Fixed rates apply)
                                </label>
                            </div>
                        </div>

                        <div class="form-group" ng-show="!product.selected.fixable" >
                            <div class="checkbox" >
                                <label class="text-warning">
                                    <input type="checkbox" name="isfixable" ng-model="btn.fixslot" /> Programme Displacement (50% charges apply)
                                </label>
                            </div>
                        </div>


                        <div ng-if="btn.fixslot">
                            <div class="form-group">
                                <div class="col-sm-6" ng-controller="FixedSlotDateCtrl as fxctrl">
                                    <p class="input-group">
                                        <input type="text" placeholder="Slot date" ng-readonly="true" ng-model="fixForDate.date" name="fix_date" uib-datepicker-popup="{{fxctrl.format}}" ng-model="start_date" is-open="fxctrl.opened" min-date="airtimeForm.slot_start_date.$modelValue" max-date="airtimeForm.slot_end_date.$modelValue" uib-datepicker-options="fxctrl.dateOptions" date-disabled="fxctrl.disabled(date, mode)"
                                               close-text="Close" class="form-control" ng-disabled="!form.slot_start_date && !form.slot_end_date" />
                                          <span class="input-group-btn">
                                             <button type="button" ng-disabled="(maxSlotRange < 1) || !form.slot_end_date" ng-click="fxctrl.open($event)" class="btn btn-default">
                                                 <em class="fa fa-calendar"></em>
                                             </button>
                                          </span>
                                    </p>
                                </div>
                                <div class="col-sm-5">
                                    <p class="input-group">
                                        <select ng-disabled="(maxSlotRange < 1)" class="form-control" ng-model="fixForDate.slot" ng-init="fixForDate.slot = '1'" name="" id="">
                                            <option value="{{$index + 1}}" ng-repeat="i in getSlotRange(maxSlotRange) track by $index">{{$index + 1}}</option>
                                        </select>
                                    <span class="input-group-btn">
                                        <button type="button" ng-disabled="(maxSlotRange < 1) || !(fixForDate.date)" ng-click="pushToSchedule()" class="btn btn-default">
                                            <em class="fa fa-arrow-down"></em>
                                        </button>
                                    </span>
                                    </p>
                                </div>
                            </div>

                            <div class="form-group" ng-if="scheduleSlots.length">
                                <!--<div class="table-responsive">-->
                                <table class="table table-bordered">
                                    <tr>
                                        <th></th>
                                        <th>Date</th>
                                        <th>Slot</th>
                                        <th>Fix <small>(optional)</small></th>
                                        <th>Time <small>(*when fixed)</small></th>
                                    </tr>
                                    <tr ng-repeat="schedule in scheduleSlots">
                                        <td width="3%"><a ng-click="removeSchedule($index)" ><em class="fa fa-remove text-danger"></em></a></td>
                                        <td width="27%">{{schedule.date | date:'d-MMM-y'}}</td>
                                        <td width="5%" class="text-center">{{schedule.slot}}</td>
                                        <td width="20%">
                                            <div>
                                                <select class="form-control" ng-change="calcFixedPrice()" ng-init="schedule.tofix = '0'" ng-model="schedule.tofix" class="form-control" name="">
                                                    <option value="{{$index + 1}}" ng-repeat="i in getSlotRange(schedule.slot) track by $index">{{$index + 1}}</option>
                                                </select>
                                            </div>
                                            <p ng-if="tofix" class="help-block">1 0f 6 set</p>
                                        </td>
                                        <td>
                                            <div ng-if="schedule.tofix > 0">

                                                <div ng-controller="SlotTimeModalCtrl as timeMod">
                                                    <!-- Modal inline template-->
                                                    <script type="text/ng-template" id="/myModalContent.html">
                                                        <div class="modal-header">
                                                            <button type="button" ng-click="cancel()" data-dismiss="modal" aria-hidden="true" class="close">×</button>
                                                            <h4 id="myModalLabel" class="modal-title">Set Slot time</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="text text-primary">
                                                                <span ng-repeat="t in scheduleRef.times">{{t | date:'h:mm a'}}, </span>
                                                            </div>
                                                            <p class="input-group" ng-repeat="i in getSlotRange(scheduleRef.tofix) track by $index"
                                                               ng-init="box[$index] = true" ng-show="box[$index]">
                                                                <input type="text" placeholder="time" class="form-control col-sm-2" ng-model="scheduleRef.times[$index]" name="time" bs-timepicker data-time-format="HH:mm" data-length="1" data-minute-step="1" data-arrow-behavior="picker">
                                                                <span class="input-group-btn">
                                                                <button ng-disabled="!scheduleRef.times[$index]"  ng-click="box[$index] = false" type="button" class="btn btn-default">
                                                                    <em class="icon-pin"></em>
                                                                </button>
                                                                </span>
                                                            </p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button ng-click="ok()" class="btn btn-primary">OK</button><button ng-click="cancel()" class="btn btn-warning">Cancel</button>
                                                        </div>
                                                    </script>

                                                    <!-- Danger button with label -->
                                                    <button type="button" class="btn btn-labeled" ng-click="timeMod.open('sm', schedule)" ng-class="{'btn-danger':schedule.times.length != schedule.tofix, 'btn-success':schedule.times.length == schedule.tofix}" >
                                                        <span class="btn-label" ng-if="schedule.times.length != schedule.tofix"><i class="fa fa-exclamation"></i></span>
                                                        <span class="btn-label" ng-if="schedule.times.length == schedule.tofix"><i class="fa fa-check"></i></span>
                                                        <em class="icon-clock"></em>
                                                    </button>

                                                    <button type="button" class="btn btn-warning btn-sm" ng-click="clearScheduleTimes(schedule)"><em class="icon-refresh"></em></button>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <!--</div>-->
                            </div>
                        </div>

                    <!-- display price-->
                    <div class="form-group">
                        <div class="pull-right">
                            <div class="col-sm-6">
                                <input type="text" class="form-control" style="width:150px;" value="{{form.fixSpotPrice | number:2}}" name="fixSpotPrice" id="fixSpotPrice" disabled />
                            </div>
                        </div>
                        <div class="clear-fix"></div>
                    </div>

                </div>

            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-4">
                        <button type="button" ng-click="addSlot()" ng-disabled="!((form.no_slots > 0) && (form.slot_start_date) && (form.slot_end_date) && checkScheduleSlot())" class="btn btn-info btn-sm">Add Slot</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END panel-->

    <!--Bulk Option-->
    <!-- START panel-->
    <div id="bulkPanel" class="panel panel-default" ng-if="product.selected.fixable">
        <div ng-class="{'panel-heading-collapsed':bulkPanel}" class="panel-heading">Bulk Option
            <paneltool tool-collapse="tool-collapse" ng-init="bulkPanel=true" ></paneltool>
        </div>
        <!-- .panel-wrapper is the element to be collapsed-->
        <div uib-collapse="bulkPanel" class="panel-wrapper">
            <div class="panel-body">
                <div class="col-xs-12 col-sm-12">
                    <!-- if bulk is clicked -->

                        <div class="form-group" ng-class="{'has-error':airtimeForm.broadcast.$dirty && airtimeForm.broadcast.$error.pattern}">
                            <div class="col-sm-7">
                                <label class="control-label">No. of Broadcasts <abbr class="text-danger" title="required">*</abbr></label>
                                <p class="input-group">
                                <select class="form-control" name="broadcast" ng-change="bulkRangeChanged()" id="broadcast" ng-model="form.broadcast" ng-disabled="form.price == 0" required>
                                    <option value="{{$index + 501}}" ng-repeat="i in getSlotRange(1500) track by $index">{{$index + 501}}</option>
                                </select>
                                <span class="input-group-btn">
                                         <button type="button" ng-click="clearBulk()" class="btn btn-default">
                                             <em class="fa fa-refresh"></em>
                                         </button>
                                      </span>
                                </p>
                            </div>
                        </div>

                        <!-- Datetime example -->
                        <div class="form-group" >
                            <div class="col-sm-6" ng-controller="BulkStartDateCtrl as bsctrl ">
                                <p class="input-group">
                                    <input type="text" ng-change="bulkValidate('date')" placeholder="start date" ng-readonly="true" name="bulk_start_date" uib-datepicker-popup="{{bsctrl.format}}" ng-model="form.bulk_start_date" is-open="bsctrl.opened" min-date="bsctrl.minDate" max-date="'2019-12-22'" uib-datepicker-options="bsctrl.dateOptions" date-disabled="bsctrl.disabled(date, mode)"
                                           close-text="Close" class="form-control" />
                                      <span class="input-group-btn">
                                         <button type="button" ng-click="bsctrl.open($event)" class="btn btn-default">
                                             <em class="fa fa-calendar"></em>
                                         </button>
                                      </span>
                                </p>
                            </div>
                            <div class="col-sm-4">
                                <!--<input type="text" ng-change="bulkValidate('time')" ng-disabled="!form.bulk_start_date" placeholder="time" class="form-control col-sm-2" ng-model="form.bulk_start_date" name="time" bs-timepicker data-time-format="HH:mm" data-length="1" data-minute-step="1" data-arrow-behavior="picker">-->
                                <!--<input type="text" class="form-control" size="8" ng-change="bulkValidate('time')" ng-disabled="!form.bulk_start_date" ng-model="form.bulk_start_date" data-time-format="HH:mm:ss" data-time-type="number" data-min-time="10:00:00" data-max-time="13:30:00" data-autoclose="1" name="time2" bs-timepicker>-->
                                <input type="text" class="form-control" size="8" ng-change="bulkValidate('time')" ng-disabled="!form.bulk_start_date" ng-model="form.bulk_start_date" data-time-format="HH:mm:ss" data-time-type="number" data-autoclose="1" name="time2" bs-timepicker>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-6" ng-controller="BulkEndDateCtrl as bectrl">
                                <p class="input-group">
                                    <input type="text" ng-change="bulkValidate('date')" placeholder="end date" ng-readonly="true" name="form.bulk_end_date" uib-datepicker-popup="{{bectrl.format}}" ng-model="form.bulk_end_date" is-open="bectrl.opened" min-date="airtimeForm.bulk_start_date.$modelValue" max-date="'2019-12-22'" uib-datepicker-options="bectrl.dateOptions" date-disabled="bectrl.disabled(date, mode)"
                                           close-text="Close" class="form-control" />
                                      <span class="input-group-btn">
                                         <button type="button" ng-disabled="!form.bulk_start_date" ng-click="bectrl.open($event)" class="btn btn-default">
                                             <em class="fa fa-calendar"></em>
                                         </button>
                                      </span>
                                </p>
                            </div>
                            <div class="col-sm-4">
                                <!--<input type="text" ng-change="bulkValidate('time')" ng-disabled="!form.bulk_end_date" placeholder="time" class="form-control col-sm-2" ng-model="form.bulk_end_date" name="time" bs-timepicker data-time-format="HH:mm" data-length="1" data-minute-step="1" data-arrow-behavior="picker">-->
                                <!--<input type="text" class="form-control" ng-change="bulkValidate('time')" size="8" ng-disabled="!form.bulk_end_date" ng-model="form.bulk_end_date" data-time-format="HH:mm:ss" data-time-type="number" data-min-time="10:00:00" data-max-time="13:30:00" data-autoclose="1" name="time2" bs-timepicker>-->
                                <input type="text" class="form-control" ng-change="bulkValidate('time')" size="8" ng-disabled="!form.bulk_end_date" ng-model="form.bulk_end_date" data-time-format="HH:mm:ss" data-time-type="number" data-autoclose="1" name="time2" bs-timepicker>
                            </div>
                        </div>

                        <!-- display price-->
                        <div class="form-group">
                            <div class="pull-right">
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" style="width:150px;" value="{{form.bulkPrice | number:2}}" name="bulkPrice" id="bulkPrice" disabled />
                                </div>
                            </div>
                            <div class="clear-fix"></div>
                        </div>

                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-4">
                        <button ng-click="addBulk()" ng-disabled="!(form.broadcast > 0 && form.bulk_end_date)" class="btn btn-info btn-sm">Add Bulk</button>
                    </div>
                    <div class="col-sm-7" ng-if="!form.price" ng-class="{'has-error':form.price == 0}">
                        <span class="help-block"><i class="fa fa-info-circle"></i> Please select airtime duration. </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END panel-->

    <!--Attachement-->
    <!-- START panel-->
    <!--<div id="attachPanel" class="panel panel-default">-->
        <!--<div ng-class="{'panel-heading-collapsed':attachPanel}" class="panel-heading">Attachment-->
            <!--<paneltool tool-collapse="tool-collapse" ng-init="attachPanel=true"></paneltool>-->
        <!--</div>-->
        <!--&lt;!&ndash; .panel-wrapper is the element to be collapsed&ndash;&gt;-->
        <!--<div uib-collapse="attachPanel" class="panel-wrapper">-->
            <!--<div class="panel-body">-->
                <!--<div class="col-xs-12 col-sm-12">-->
                    <!--<div class="form-group">-->
                        <!--<label for="attachment">Upload Attachment</label>-->
                        <!--<input type="file" id="attachment" name="attachment">-->
                        <!--<p class="help-block">Only pdf and mp3 formats are allowed.</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash;<div class="panel-footer">Panel Footer</div>&ndash;&gt;-->
        <!--</div>-->
    <!--</div>-->
    <!-- END panel-->

</div>
