<br />
<div id="remarks" class="tab-pane" ng-class="{active:isSelected(3)}">
    <!-- START panel-->
    <div id="otherPanel" class="panel panel-default">
        <div ng-class="{'panel-heading-collapsed':otherPanel}" class="panel-heading">Other Detail
            <paneltool tool-collapse="tool-collapse" ng-init="otherPanel=false"></paneltool>
        </div>
        <!-- .panel-wrapper is the element to be collapsed-->
        <div uib-collapse="otherPanel" class="panel-wrapper">
            <div class="panel-body">
                <div class="col-xs-12 col-sm-12">
                    <!--<div class="form-group">-->
                        <!--<label for="remark" class="control-label">Remarks</label>-->
                        <!--<textarea class="form-control" name="remark" id="remark" cols="30" rows="5"></textarea>-->
                    <!--</div>-->
                    <div class="form-group" ng-controller="DiscountController">
                        <label for="discount" class="col-sm-3 control-label">Discount(%)</label>
                        <div class="col-sm-6" ng-class="{'has-error':discountError, 'has-success':applied}">
                            <input type="text" class="form-control" ng-disabled="disabled" name="discount" ng-model="code" ng-change="discountReward()" id="discount" placeholder="Enter Coupon" />
                            <span ng-show="discountError" class="text-danger">{{discountError}}</span>
                        </div>
                    </div>
                    <div ng-controller="CommissionController" permission permission-only="['executive.director', 'admin']" class="form-group">
                        <label for="commission" class="col-sm-3 control-label">Commission(%)</label>
                        <div class="col-sm-6" ng-class="{'has-error':commissionError, 'has-success':applied}">
                            <input type="text" class="form-control" ng-disabled="disabled" ng-model="code" ng-change="commissionReward()" id="commission" name="commission" placeholder="Enter Coupon" />
                            <span ng-show="commissionError" class="text-danger">{{commissionError}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="checkbox">
                    <label for="terms">
                        <input type="checkbox" ng-model="form.agree" name="terms" id="terms" />
                        I agree to the <a ui-sref="privacy" target="_blank">terms and conditions</a> of Boot Communications Ltd
                    </label>
                </div>
            </div>
        </div>
    </div>
    <!-- END panel-->

</div>
